input {
  outline: none;
}

form {
  input, textarea {
    font-family: "Muli", "Klinic Slab", sans-serif;
    font-size: 15px/17px;
    padding: 15px 20px;
    color: $gray;
    border: 1px solid;
    border-color: $light-gray;
    &::placeholder {
      color: $light-gray;
    }
  }
  .form-row {
    lost-center: 650px;
    input {
      lost-column: 1/1;
      margin-bottom: 30px;
    }
    textarea, input {
      width: 100%;
    }
    @media (--for-tablet-port-up) {
      input {
        lost-column: 1/2;
      }
      &--single {
        input {
          lost-column: 1/1;
        }
      }
    }
  }
}
