section.account-page {
  background-color: $white;
  h4 {
    text-align: center;
    font-weight: light;
  }
  &#account-head {
    nav.account-nav {
      lost-center: 800px;
      justify-content: space-around;
      padding: 30px * * *;
      a {
        &.router-link-active {
          border-bottom: 1px solid $blue;
        }
        h4 {
          color: $blue;
        }
      }
    }
  }
  &#profile {
    padding: 0 * * *;
    form.profile-form {
      padding: 30px;
    }
    form.password-form {
      padding: 30px;
      .form-row input {
        lost-column: 1/3;
      }
    }
  }
}
