@charset "utf-8";

@import 'global/variables';
@import 'global/media-queries';

body {
  font-size: 10em;
  display: flex;
  background: resolve('screenshot.png');

  @media (--for-phone) {
    color: $black;
  }
}
