extends layouts/default.pug

block content
  - var data = [header] // This is not necessary, but is an alternative way to show data
  section#header
        h1 #{header}
        h2 #{footer}
  script(src="/js/app.js")
